$light:     	#2a2a2a !default;
$white:     	#fffdfd !default;
$dark:     		#1f1e1e !default;
$primary:       #d95d06 !default;
$secondary:     #005f48 !default;
$info:        	#b18aea !default;
$success:       #00b6ff !default;
$warning:       #ffb94e !default;
$danger:        #9d000d !default;

$popover-bg:                        $dark !default;

$popover-body-color:                $white !default;
$enable-responsive-font-sizes: 		true;


@import "./bootstrap-5.2.1/scss/bootstrap";

